.divgeneric-block-child4 {
  position: absolute;
  top: 50.633%;
  left: 1.7648%;
  width: 36.7648%;
  height: 35.4431%;
  overflow: hidden;
  object-fit: cover;
}
.pseudo4-1 {
  border-radius: var(--br-xl);
  background-color: transparent;
  box-shadow: 0 5px 15px #8768f8;
  /*opacity: 0.1;*/
}
.pseudo4-1,
.pseudo4-2,
.pseudomask-group4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.pseudo4-2 {
  border-radius: var(--br-xl);/*
  background: linear-gradient(
    270deg,
    #4813d1,
    #6608fa 33.33%,
    #b545ff 66.67%,
    #da8b79
  );*/
}

.get-started {
  position: absolute;
  top: 34.9463%;
  left: 13.6%;
  font-size: 1.9792vw;
  letter-spacing: 0.02605vw;
  line-height: 2.0834vw;
  text-transform: uppercase;
  display: flex;
  font-family: var(--font-khand);
  color: var(--color-silver);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 73.2%;
  height: 28.2259%;
}
.link4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background: linear-gradient(
    270deg,
    #4813d1,
    #6608fa 33.33%,
    #b545ff 66.67%,
    #da8b79
  );
  position: absolute;
  top: 79.7469%;
  left: 45.8089%;
  border-radius: var(--br-xl);
  width: 18.3824%;
  height: 9.4178%;
  overflow: hidden;
}

.link4 :hover {
  box-shadow: 10px 10px 10px rgba(72, 19, 209, 0.25);
}

.parent-link {
  display: block;
  position: relative;
  width: 280px;
  height: 90px;
  left: 610px;
  top: calc(50% + 220px);
}

.heading-4-1,
.heading-4-2,
.heading-4-3 {
  position: absolute;
  top: 6.5823%;
  left: 9.7795%;
  line-height: 3.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54.4118%;
  height: 21.0127%;
}
.heading-4-2,
.heading-4-3 {
  top: 28.9874%;
  left: 2.7942%;
  font-size: 1.82292vw;
  width: 68.3089%;
}
.heading-4-3 {
  top: 90.5064%;
  left: 27.2059%;
  font-size: 1.0417vw;
  width: 55.5148%;
  height: 6.2026%;
}
.divgeneric-block4 {
  position: absolute;
  width: 97.1429%;
  top: 11.1337%;
  right: 2.6429%;
  left: 0.2143%;
  height: 88.844%;
  overflow: hidden;
}
.asset-41-44 {
  position: absolute;
  top: 15.1822%;
  left: 69.4286%;
  width: 21.4286%;
  height: 75.3487%;
  object-fit: cover;
}
.divgeneric-block-wrapper-4 {
  position: relative;
  top: 0.521vw;
  border-radius: var(--br-5xl);
  left: 4.004%;
  background-image: url(../../../../public/background-slides.png);
  width: 72.917vw;
  height: 97.823%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  color: var(--color-white);
  font-family: var(--font-inter);
  font-size: 2.917vw;
}
