.desktop-AL {
  width: 100%;
  /*height: 1650.5px;*/
  position: relative;
  text-align: left;
  font-size: var(--font-size-mid);
  font-family: var(--font-inter);
  overflow-x: scroll;
  white-space: nowrap;
  flex-grow: 1;
  flex-shrink: 1;
}




::-webkit-scrollbar-track {
  background: rgb(6, 3, 62);
}

::-webkit-scrollbar-thumb {
  background: var(--color-darkviolet);
  cursor: pointer;
  border-radius: 300px;
}

::-webkit-scrollbar {
  width: 8px;
}



.dark {
  background-color: var(--color-gray-600);
  color: var(--color-white);
}

.white {
  background-color: var(--download-1-catskill-white);
  color: var(--color-white);
}

.desktop-AL,
.global-frame-section {
  display: flex;
  flex-direction: row;
}
.global-frame-section {
  flex: 1;
  /*height: 100vh;*/
}

.without-sidebar {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 85.4167%;
  width: 100%;
  position: relative;
  /*height: 100%;*/
  font-size: 36.4px;
  color: var(--download-1-catskill-white);
  margin-left: 0;
}

.with-sidebar {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 85.4167%;
  position: relative;
  /*height: 100%;*/
  font-size: 36.4px;
  color: var(--download-1-catskill-white);
  margin-left: 14.5839%;
  
}

.desktop-AL,
.frame-parent,
.global-frame-section {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.frame-group {
  display: flex;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  /*height: 100%;*/
}

.header-parent {
  flex: 1;
  position: relative;
  /*height: 100%;*/
  overflow: hidden;
  max-width: calc(100% - 56.8px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

@media (max-width: 1400px) {

}