.asset-1-2-gt-11 {
  position: relative;
  width: 114%;
  height: auto;
  object-fit: cover;
  left: -27%;
  min-width: 850px;
}

.new-team1 {
  position: relative;
  line-height: 16.5px;
}
.link9 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 208px;
  margin-top: 50px;
  border-radius: 999px;
  background-color: var(--color-crimson-200);
  height: 65px;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--download-4-nero);
  border: transparent;
  cursor: pointer;
}

.limk9-parent :hover {
  background-color: #e9176d;
}

.create-your {
  position: relative;
  margin-top: 73px;
  letter-spacing: -0.4px;
  line-height: 70px;
  font-weight: 800;
  display: flex;
  align-items: center;
  width: 312px;
  height: 94px;
}
.team1 {
  position: relative;
  margin-top: -20px;
  letter-spacing: -0.4px;
  line-height: 70px;
  font-weight: 800;
  display: flex;
  align-items: center;
  height: 94px;
  width: 138px;
}
.divflex33 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 428px;
  width: 69.51%;
  min-width: 450px;
  top: 27px;
  border-radius: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-darkviolet);
  box-sizing: border-box;
  overflow: hidden;
}
.asset-2-2-1 {
  position: relative;
  width: 54.9%;
  height: auto;
  left: 200px;
  object-fit: cover;
}
.new-project {
  position: relative;
  line-height: 16.5px;
}
.link10 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 208px;
  border-radius: 999px;
  background-color: var(--color-crimson-200);
  height: 65px;
  border: transparent;
  font-size: var( --font-size-6xl);
  letter-spacing: -0.4px;
  line-height: 16.5px;
  color: var(--download-4-catskill-white);
  text-align: left;
  cursor: pointer;
}

.limk10-parent :hover {
  background-color: #e9176d;
}

.start-up-your {
  position: relative;
  font-size: var(--font-size-31xl);
  letter-spacing: -0.4px;
  line-height: 70px;
  font-weight: 800;
  color: var(--download-4-catskill-white);
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 538px;
  height: 94px;
}
.divflex34 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20%;
  justify-content: center;
  align-items: center;
  height: 96.103%;
  min-width: 74.925%;
  width:  102.521%;
  left: 58px;
  border-radius: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-darkviolet);
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
}
.divgrid1 {
  width: 98%;
  position: relative;
  /*height: 1353px;*/
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 123px;
  padding-top: 41px;
}

.divgrid1:not(:has(> *[style*="width: 1349px"])) {
  .divflex34{
    width: 100%;
  }
  
}

.divgrid2 {
  width: 97%;
  position: relative;
  /*height: 1353px;*/
  justify-content: center;
  align-items: center;
  padding-top: 41px;
  display: flex;
  flex-direction: column;
}

.divmat-mdc-tab-body-content1 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  max-width: 1500px;
  align-items: flex-end;
  justify-content: center;
}

.divmat-mdc-tab-body-wrapper1,
.tabpanel1 {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tabpanel1 {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.divmat-mdc-tab-body-wrapper1 {
  width: 100%;
  position: relative;
  flex-direction: row;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--download-4-catskill-white);
  font-family: var(--font-inter);
}

@media (max-width: 1400px) {
  .divgrid1 {
    width: 97%;
    position: relative;
    /*height: 1353px;*/
    justify-content: center;
    align-items: center;
    padding-top: 41px;
    display: flex;
    flex-direction: column;
  }

}