
.divmat-mdc-tab-body-wrapper,
.tabpanel {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.divgrid,
.divmat-mdc-tab-body-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.divflex11,
.frame-div,
.link1-item {
  display: flex;
  align-items: center;
}

.divflex11,
.frame-div {
  align-self: stretch;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
}

.a-guide-to,
.one,
.you-dont-have-a-team-create-parent {
  align-self: stretch;
  display: flex;
  align-items: center;
}

.one,
.you-dont-have {
  position: relative;
  letter-spacing: -0.4px;
  line-height: 70.79px;
  font-weight: 800;
  justify-content: center;
  flex-shrink: 0;
}










.divmat-mdc-tab-body-wrapper {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  font-size: var(--font-size-31xl-6);
  color: var(--download-4-catskill-white);
  height: 100%;
}

.tabpanel {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  height: 100%;
}

.divgrid {
  align-items: center;
  padding: 2.25rem 4.971%;
  gap: 144.62px;
  height: 100%;
}

.divmat-mdc-tab-body-content {
  overflow: hidden;
  align-items: flex-start;
  padding: 1.4482%;
  height: 100%;
}

.divflex11 {
  border-radius: 16.18px;
  box-shadow: 0 1px 3.03px rgba(0, 0, 0, 0.1),
    0 1px 2.02px -1.01px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-darkviolet);
  padding: 0.897% 0;
}

.frame-div {
  padding: 6.5px 0;
  gap: 20.71px;
}

.you-dont-have-a-team-create-parent {
  flex-direction: column;
  justify-content: flex-start;
}

.you-dont-have {
  align-self: stretch;
  display: flex;
  align-items: center;
  height: 141.6px;
}

.one {
  height: 89px;
  margin-top: -30.34px;
}

.a-guide-to {
  position: relative;
  font-size: 30.3px;
  letter-spacing: -0.4px;
  line-height: 70.79px;
  font-weight: 100;
  justify-content: center;
  height: 95.1px;
  flex-shrink: 0;
  margin-top: -30.34px;
}

.link1-item {
  border-radius: 1010.3px;
  background-color: #e7005e;
  flex-direction: row;
  justify-content: flex-start;
  padding: 24.27139663696289px 35.395782470703125px;
  font-size: 25.3px;
  color: var(--download-4-nero);
  cursor: pointer;
}

.link1-item-child :hover {
  background-color: #e9176d;
}


.new-team {
  position: relative;
  line-height: 16.69px;
}

.asset-1-2-gt-1 {
  width: 960.7px;
  position: relative;
  height: 520.7px;
  object-fit: cover;
}



.divflexmargin-3 {
  font-size: var(--font-size-sm);
  display: flex;
  flex-direction: row;
}

.alert-3 {
  width: 20px;
  height: 20px;
}

.you-have-messages-and-tasks {
  padding-left: 6px;
}