.divflex-automargin,
.divflex5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.divbg-card,
.divflex6,
.divflexmargin2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.divflex8,
.divflexmargin3,
.divtext-2xl {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.divflexmargin3 {
  flex: 1;
  margin: 0 0 0 1.976%;
  height: 100%;
}


.spanmdc-button-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 8.209868431091309px;
}

.button4,
.buttonmargin {
  box-sizing: border-box;
  min-height: 40.41020965576172px;
  max-height: 40.41020965576172px;
}

.buttonmargin,
.divflex7,
.divflexmargin4 {
  display: flex;
  justify-content: flex-start;
}

.divflex-auto,
.divw-full2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.divmat-mdc-tab-label-containe,
.divmat-mdc-tab-labels,
.mat-tab-header,
.tablist {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.spanmdc-tab-content,
.spanmdc-tab-text-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.spaninline-flex,
.spanmdc-tab-text-label1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.spanpx-2,
.spanpx-2margin {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}








.divflex5 {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/divflex@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.divbg-card {
  display: flex;
  width: 87.48%;
  align-items: center;
  justify-content: center;
  padding: 0  2.012%;
  min-height: 11.6rem;
  margin: 0 4.2746%;
}

.divflex6 {
  display: flex;
  align-self: stretch;
  width: 100%;
  height: 43.37%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.divflexmargin2 {
  align-self: stretch;
  align-items: flex-start;
  padding: 0;
  height: 100%;
}

.divflex7 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.divflex8 {
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding: 0 ;
  height: 100%;
}



.divflex-0 {
  width: 64px;
  border-radius: 10112.07px;
  height: 64px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.brian-hughesjpg-icon1 {
  width: 100%;
  flex: 1;
  position: relative;
  max-width: 64.65634155273438px;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.divflex2,
.userh2d-1823ff5a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.divflex2,
.divflexmargin {
  flex-direction: row;
  align-items: center;
}

.divtext-2xl {
  align-self: stretch;
  overflow: hidden;
  padding: 0 4.136247158050537px 0 0;
}

.welcome-back-brian {
  position: relative;
  letter-spacing: -0.91px;
  line-height: 50.06px;
  font-weight: 600;
  display: inline-block;
  max-height: 50.00763702392578px;
}

.divflexmargin4 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 0 8.090465545654297px;
  text-align: center;
  font-size: var(--font-size-mini-2);
  color: var(--color-white);
}


.button3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10112.07px;
  background-color: var(--download-4-mirage);
  height: 40px;
  flex-direction: row;
  justify-content: center;
  width: 125px;
  box-sizing: border-box;
  cursor: pointer;
}

.divflex2 :hover {
  border-radius: 10112.07px;
  background-color: #353065 ;
  
  box-sizing: border-box;
}

.img-svg2 {
  width: 20.2px;
  position: relative;
  height: 20.2px;
  overflow: hidden;
  flex-shrink: 0;
}

.buttonmargin {
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 0;
  min-width: 76.77940368652344px;
  margin-left: 12.335698318481445px;
  cursor: pointer;
}

.button4 {
  border-radius: 10112.07px;
  background-color: var(--previewthemeforestnet-maroon);
  height: 40.4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10.113080978393555px 20.22616195678711px;
  min-width: 64px;
}

.spanmdc-button-label1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 8.095900535583496px;
}

.messages {
  position: relative;
  line-height: 14.16px;
  font-weight: 500;
}

.divflex-automargin {
  align-self: stretch;
  text-align: center;
  font-size: var(--font-size-mini-2);
  color: var(--download-16-gull-gray);
  width: 100%;
  height: 88%;
}

.divflex-auto {
  align-self: stretch;
  border-top: 0.8px solid var(--download-4-mystic);
  flex-direction: column;
  padding-top: 1.5rem;
  width: 100%;
  height: 100%;
}

.divw-full2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-direction: row;
}

.mat-tab-group {
  flex: 1;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.mat-tab-header {
  width: 87.63%;
  margin: 0 6rem;
  height: 3.4rem;
  box-shadow: inset 0 -1px var(--fuse-border) ;
}


.divmat-mdc-tab-label-containe,
.mat-tab-header {
  
  overflow: hidden;
  flex-direction: row;
}
.divmat-mdc-tab-label-containe {
  flex: 1;
  align-self: stretch;
  background-color: var(--download-4-nero-02);
  /*box-shadow: 0-1px 0#e2e8f0 inset;*/
  
  height: 100%;
}

.tablist {
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.divmat-mdc-tab-labels {
  align-self: stretch;
  flex-direction: row;
  height: 100%;
}

.divmat-mdc-tab-labels :hover {
  background-color: var(--download-16-nero-12);
}

.tab1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 1.755%;
  box-sizing: border-box;
  position: relative;
  min-width: 6.581%;
  height: 100%;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  color: var(--download-16-gull-gray);
}

.active {
  border-bottom: 3px solid var(--color-darkviolet);
  transition: 1s;
}

.spanmdc-tab-content {
  padding: 17.192237854003906px 0;
  z-index: 0;
}

.spanmdc-tab-indicator {
  margin: 0 !important;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 46.45px);
  z-index: 1;
}



.tab :hover {
  background-color: transparent;
}

.tab1 :hover {
  background-color: transparent;
}



.spanmdc-tab-content1 {
  position: absolute;
  top: calc(50% - 24.7px);
  left: calc(50% - 34.6px);
  width: 69.3px;
  height: 48.5px;
}

.spanmdc-tab-text-label1 {
  position: absolute;
  top: calc(50% - 10.55px);
  left: calc(50% - 34.35px);
}

.spaninline-flex {
  gap: 0.36px;
}

.spanh2d-2cadc47d {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.spanpx-2 {
  border-radius: 10112.07px;
  background-color: var(--previewthemeforestnet-maroon);
  align-items: center;
  padding: 4.045232772827148px 7.471921443939209px 4.045232772827148px
    7.829169273376465px;
}
.spanpx-2margin {
  align-items: flex-start;
  padding: 0 0 0 8.090465545654297px;
  font-size: 12.1px;
  color: var(--download-4-catskill-white);
}

.spanpx-2margin :hover {
  background-color: var(--previewthemeforestnet-maroon);
}

.div2 {
  position: relative;
  line-height: 12.14px;
  font-weight: 500;
}

.spanmdc-tab-indicator-conten {
  position: absolute;
  top: 46.4px;
  left: -12.1px;
  border-top: 1.6px solid var(--previewthemeforestnet-maroon);
  box-sizing: border-box;
  width: 91px;
  height: 3px;
}



@media (min-width: 1601px) {

  .divflex5{
    display: flex;
    align-items: center;
  }

  .divbg-card{
    max-width: 1380px;
    margin: 0;
  }

  .mat-tab-header {
    margin: 0;
    max-width: 1360px;
  }

  .mat-tab-group{
    display: flex;
    align-items: center;
  }
}