.quick-chat {
  flex: 1;
  border-left: 1px solid var(--color-darkviolet);
  box-sizing: border-box;
  height: 100%;
  flex-direction: column;
  width: 2.9589%;
  font-size: var(--font-size-base-2);
  color: var(--download-4-fiord);
  position: fixed;
  right: 0;
  z-index: 999;
}

.divfixed {
  background-color: var(--color-gray-300);
  box-shadow: 0 1px 3.03px rgba(0, 0, 0, 0.1),
    0 1px 2.02px -1.01px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}

.divflex12 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.divfixed,
.quick-chat {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.divfixed,
.divflex12 {
  align-self: stretch;
  flex-direction: column;
}

.divquick-chat-header {
  align-self: stretch;
  height: 68px;
  justify-content: flex-start;
  box-sizing: border-box;
}

.divflex13 {
  flex: 1;
  justify-content: center;
  height: 51.3%;
}

.divflex14 {
  flex: 1;
  justify-content: center;
  height: 100%;
  max-width: 35px;
}

.divflex13 :hover {
  background-color: var(--color-gray-700);
  border-radius: 1000px;
}

.divflex13,
.divflex14,
.divquick-chat-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img-svg4 {
  flex: 1;
  position: relative;
  width: 23.4px;
  overflow: hidden;
  height: 24.3px;
}

.divflex15 {
  border-top: 0.8px solid var(--color-darkviolet);
  flex-direction: row;
  padding: 0;
  margin-top: 1px;
  width: 99%;
  height: 100vh;
}

.divflex-01 {
  flex-direction: column;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.divflex-01,
.divflex15 {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.fuse-vertical-navigation-group-quick-chat {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 87.303%;
}

.fuse-vertical-navigation-group-quick-chat :hover {
  background-color: var(--color-gray-700);
}

.divflex16 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 12.2px 10.219px;
  cursor: pointer;
  height: 100%;
  width: 63.15%;
}

.divrelative1 {
  flex: 1;
  height: 32.4px;
  justify-content: center;
  position: relative;
}

.divflex16,
.divrelative1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.divabsolute,
.male-02jpg-icon {
  border-radius: 10112.07px;
  overflow: hidden;
}
.male-02jpg-icon {
  flex: 1;
  position: relative;
  max-width: 32.32817077636719px;
  height: 32.4px;
  object-fit: cover;
  z-index: 0;
}

.divabsolute {
  width: 8.1px;
  position: absolute;
  margin: 0 !important;
  right: -0.1px;
  bottom: 0;
  background-color: var(--previewthemeforestnet-maroon);
  box-shadow: 0 0 0 2.02px #fff;
  height: 8.1px;
  flex-shrink: 0;
  z-index: 1;
}

.divrelative2 {
  flex: 1;
  height: 32.4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.male-12jpg-icon {
  flex: 1;
  position: relative;
  border-radius: 10112.07px;
  max-width: 32.32817077636719px;
  overflow: hidden;
  height: 32.4px;
  object-fit: cover;
}

.divflex21 {
  flex: 1;
  border-radius: 10112.07px;
  background-color: var(--download-4-mystic);
  height: 32.4px;
  width: 14.395px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3.438447952270508px 8.211822509765625px 4.652017593383789px
    8.980416297912598px;
  box-sizing: border-box;
}

.whithout-photo {
  position: relative;
  line-height: 24.27px;
  text-transform: uppercase;
  width: 14.412px;
  font-size: 16.2px;
}