.item {
  top: calc(50% - 25.25px);
  left: calc(50% - 25.3px);
  border-radius: 50.57px;
  background-color: var(--color-gray-700);
  width: 50.6px;
  height: 50.6px;
  cursor: pointer;
  border-color: transparent;
  position: absolute;
}

.divbar-item-icon {
  top: calc(50% - 12.2px);
  left: calc(50% - 12.2px);
  width: 24.3px;
  height: 24.3px;
  overflow: hidden;
  position: absolute;
}