.logogadz-icon {
  width:83.34%;
  height: 84.22%;
  color: var(--color-white);
  cursor: pointer;
}

.logogadz-button {
  position: relative;
  border: none;
  left: 9.3%;
  width: 71.43%;
  aspect-ratio: 36/18.189;
  object-fit: cover;
  background-color: var(--color-gray-200);
  border-radius: var(--br-xl);
}

.divleftpanel-logo {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  border-bottom: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 14%;
  height: 100%;
}
.divbar-item-icon {
  position: relative;
  
  width: 100%;
  height: 100%;
}

.item :hover{
  box-shadow: inset 100px 100px 100px 100px #2b2830;
}

.item{
  position: relative;
  width: 19.234%;
  height: 100%;
  padding: 0;
  cursor: pointer;
  background-color: var(--color-gray-200);
  border: none;
}

.divfn-nav-bar {
  position: relative;
  width: 90.28%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10.77%;
}


.header-frame,
.header {
  position:relative;
  top: 0;
  
}
.header {
  width: 15%;
  height: 100%;
  margin-left: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header-frame {
  left: 0;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  aspect-ratio: 96/5;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-gray-200);
}