.carousel {
  max-width: 80%;
  height: 100%;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 1s ease;
  flex-direction: row;
  gap: 20px;
  height: 91.819%;
}

.carousel-slide {
  flex: 0 0 100%;
}

.carousel-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.6518%;
  height: 6.322%;
}

.button-arrow {

  background: none;
  border: none;
  cursor: pointer;
  margin-top: 1.3028%;
  color: #ffffff;
  width: 3.0123%;
  height: 68.05%;
}

.button-arrow :hover {
  box-shadow: inset 0 5px 15px #26343f;
  border-radius: 30%;
}

.indicators {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.indicator-buttons {
  border: none;
  cursor: pointer;
}

.indicators>button {
  margin: 5px;
  background: none;
}

.indicator-symbol {
  color: #26343f;
}

.indicator-symbol-active {
  color: #ffffff;
}

/*
@media (max-width: 1200px) {
  .carousel {
    max-width: 95%;
    min-height: 100%;
    overflow: hidden;
  }
  
}
*/